<div id="sec-con">
    <div id="shop">
        <div id="cart" class="cem">
            <a href="./cart"> <i class="fa-solid fa-cart-plus"></i>
                Cart</a>
        </div>
        <div id="wishlist" class="cem">
            <a href="./wishlist"> <i class="fa-solid fa-list"></i>
                Wishlist</a>
        </div>
        <div id="gvault" class="cem">
            <a href="./gvault"><i class="fa-solid fa-gamepad"></i>
                G-vault</a>
        </div>
        <div id="helpline" class="cem">
            <a href="./helpline"><i class="fa-solid fa-phone"></i>
                Helpline</a>
        </div>
        <div id="symbol">
            <i id="youtube" class="fa-brands fa-youtube"></i>
            <i id="facebook" class="fa-brands fa-facebook"></i>
            <i id="linkedin" class="fa-brands fa-linkedin"></i>
            <i id="github" class="fa-brands fa-github"></i>
            <i id="twitter" class="fa-brands fa-twitter"></i>
        </div>
    </div>