<div class="main-content-new-release">
    <h2 class="heading">NEW RELEASES</h2>
        <div class="carousel-container">
            <div class="carousel-track">
              <div class="carousel-card">
                <img src="images/FC 25 home.jpg" alt="Fifa" />
                <h3>FIFA 24</h3>
              </div>
              <div class="carousel-card">
                <img src="images/Hitman home.jpg" alt="Hitman" />
                <h3>Hitman World</h3>
              </div>
              <div class="carousel-card">
                <img src="images/PUBG home.jpg" alt="PUBG" />
                <h3>PUBG Reborn</h3>
              </div>
              <div class="carousel-card">
                <img src="images/Valorant home.jpg" alt="Valorant" />
                <h3>Valorant Edge</h3>
              </div>
              <div class="carousel-card">
                <img src="images/Elden ring home.jpg" alt="Elden Ring" />
                <h3>Elden Ring 2</h3>
              </div>
            </div>
          </div>
          <div class="coming-soon">
            <h3>More Exciting Releases Coming Soon!</h3>
          </div>
</div>