<div class="main-content-top-picks">
    <h2 class="heading">TOP PICKS</h2>

    <div class="carousel-wrapper">
        <input type="radio" name="carousel" id="game1" checked>
        <input type="radio" name="carousel" id="game2">
        <input type="radio" name="carousel" id="game3">

        <div class="carousel">
          <label for="game1" class="card card1">
            <img src="/images/FC 25 banner.jpg" alt="FIFA"/>
            <p>FIFA 24 - The ultimate football simulation experience.</p>
            <div class="percentage">98%</div>
            <p class="progress-label">Top Pick Score</p>
          </label>
          <label for="game2" class="card card2">
            <img src="/images/Hitman home.jpg" alt="Hitman"/>
            <p>Hitman 3 - Become Agent 47 in stealth missions across the globe.</p>
            <div class="percentage">92%</div>
            <p class="progress-label">Top Pick Score</p>
          </label>
          <label for="game3" class="card card3">
            <img src="/images/PUBG home.jpg" alt="PUBG"/>
            <p>PUBG - Battle royale at its finest. Survival is the only rule.</p>
            <div class="percentage">95%</div>
            <p class="progress-label">Top Pick Score</p>
          </label>
        </div>
      </div>

</div>