<div class="main-content-trending-game">
    <h2 class="heading">TRENDING GAMES</h2>

    <div class="gallery">
        <div class="ggccard">
          <img src="images/FC 25 home.jpg" alt="Fifa">
          <h3>FC 25</h3>
          <p>Experience the thrill of world-class football with stunning graphics and real player dynamics.</p>
        </div>
        <div class="ggccard">
          <img src="images/Hitman home.jpg" alt="Hitman">
          <h3>Hitman</h3>
          <p>Step into the shoes of Agent 47 and execute strategic assassinations in stylish locations.</p>
        </div>
        <div class="ggccard">
          <img src="images/PUBG home.jpg" alt="PUBG">
          <h3>PUBG</h3>
          <p>Battle royale action with high-stakes survival and intense combat gameplay.</p>
        </div>
        <div class="ggccard">
          <img src="images/Valorant home.jpg" alt="Valorant">
          <h3>Valorant</h3>
          <p>Team-based tactical shooter blending precise aim and powerful abilities.</p>
        </div>
        <div class="ggccard">
          <img src="images/Elden ring home.jpg" alt="Elden Ring">
          <h3>Elden Ring</h3>
          <p>Dark fantasy open-world RPG with epic boss fights and a deep lore-driven story.</p>
        </div>
        <div class="ggccard">
            <img src="images/Fortnite home.jpg" alt="Elden Ring">
            <h3>Fortnite</h3>
            <p>Fortnite - Drop in, build fast, and battle your way to victory in this action-packed battle royale.</p>
          </div>
      </div>
</div>